



.show{
    background-color:  rgb(29,116,101)!important;
    border:none!important;
}

.navbar-toggler {
    color: white!important;
    border: 0.5px solid rgb(255, 255, 255)!important;
    z-index: 999999;
}

.navbar-toggler-icon {
    color: white!important;
}



.dropdown-item:hover {
    background-color: rgb(23, 94, 82)!important;
} 

.fa-magnifying-glass:hover{
    color: rgb(16, 71, 62)!important;
}


input[type=range] {
    height: 20px;
    -webkit-appearance: none;
    margin: 10px 0;
    width: 30%;
  }
  input[type=range]:focus {
    outline: none;
  }
  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 7px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 0px 0px 0px #000000;
    background: #1d7465;
    border-radius: 11px;
    border: 0px solid #010101;
  }
  input[type=range]::-webkit-slider-thumb {
    box-shadow: 0px 0px 1px #000031;
    border: 1px solid #00001E;
    height: 13px;
    width: 28px;
    border-radius: 3px;
    background: #FFFFFF;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -3.5px;
  }
  input[type=range]:focus::-webkit-slider-runnable-track {
    background: #1d7465;
  }
  input[type=range]::-moz-range-track {
    width: 100%;
    height: 7px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 0px 0px 0px #000000;
    background: #1d7465;
    border-radius: 11px;
    border: 0px solid #010101;
  }
  input[type=range]::-moz-range-thumb {
    box-shadow: 0px 0px 1px #000031;
    border: 1px solid #00001E;
    height: 13px;
    width: 28px;
    border-radius: 3px;
    background: #FFFFFF;
    cursor: pointer;
  }
  input[type=range]::-ms-track {
    width: 100%;
    height: 7px;
    cursor: pointer;
    animate: 0.2s;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }
  input[type=range]::-ms-fill-lower {
    background: #1d7465;
    border: 0px solid #010101;
    border-radius: 22px;
    box-shadow: 0px 0px 0px #000000;
  }
  input[type=range]::-ms-fill-upper {
    background: #1d7465;
    border: 0px solid #010101;
    border-radius: 22px;
    box-shadow: 0px 0px 0px #000000;
  }
  input[type=range]::-ms-thumb {
    margin-top: 1px;
    box-shadow: 0px 0px 1px #000031;
    border: 1px solid #00001E;
    height: 13px;
    width: 28px;
    border-radius: 3px;
    background: #FFFFFF;
    cursor: pointer;
  }
  input[type=range]:focus::-ms-fill-lower {
    background: #1d7465;
  }
  input[type=range]:focus::-ms-fill-upper {
    background: #1d7465;
  }

  input[type=check] {
color: red;
  }